/* Set the size of the body element */

html {
    width: 400px;
    height: 320px;
    background-color: #FFFCF2;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #50CAAD;
    margin-bottom: 8px;
}

h3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #50CAAD;
    margin-bottom: 8px;
}

.my-city {
    color: #7371CB
    ;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.prayer-name {
    border-top-left-radius: 5px;
}

.time {
    border-top-right-radius: 5px;
}

/* Style the header row of the table */
table tr:first-child {
    height: 30px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #50CAAD;
    color: white;
}

/* Style the cells in the table */
table td {
    background-color: #f2f2f2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 120px;
    padding: 5px;
    text-align: center;
}

.table-centre {
    margin-left: auto;
    margin-right: auto;
}

.version {
    color: #7371CB
    ;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

.link {
    text-decoration: none;
    color: #7371CB;
}

.select {
    display: flex;
    flex-direction: column;
    padding-top: 17.5%;
    padding-bottom: 17.5%;
    justify-content: center;
    display: flex;
    width: 100%;
}

.calc-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: #7371CB;
    text-align: center;

}

.footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
}