/* Set the size of the body element */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 24px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #50CAAD;
    margin-bottom: 8px;
}

h3{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #50CAAD;
    margin-bottom: 8px;
}

.up-next {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;

}
.nextPrayer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #50CAAD;
}

.nextPrayerTime {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    margin-bottom: 2vh;
}

.my-city {
    color: #7371CB
    ;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.prayer-name {
    border-top-left-radius: 5px;
}

.time {
    border-top-right-radius: 5px;
}

table {
    width: 45vw;
}

/* Style the cells in the table */
table td {
    background-color: #f2f2f2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

.table-centre {
    margin-left: auto;
    margin-right: auto;
}

.version {
    color: #7371CB
    ;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

.link {
    text-decoration: none;
    color: #7371CB;
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 100%;
}

.calc-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: #7371CB;
    text-align: center;

}

.main {
    border-radius: 5px;
    background: rgba(80, 202, 173, 0.10);
    margin-left: 5%;
    margin-right: 5%;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16%;
    margin-bottom: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#selectBox {
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-self: center;
}

.select-box {
    display: flex;
    justify-content: center;
    opacity: 40%;
}

.contact-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    font-size: 14px;
    height: 34px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: #FEA380;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.donate {
    color: white;
    font-size: 10px;
    text-decoration: none;

}

.donate-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    font-size: 14px;
    height: 20px;
    padding: 0px 10px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: #FEA380;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

#selectBox {
    width: 50px;
    font-size: 8px;
}

.footer-right {
    display: flex;
}